window#waybar {
    color: #ffffff;
    background-color: rgba(26, 27, 38, 0.5);
    border-bottom: none;
    font-size: 12;
    font-family: CodeNewRoman NF;
}

#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    background-color: #772b2e;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #1a1a1a;
    border: #1a1a1a;
    padding: 0 3px;
}

#language {
    margin: 0 15px;
}

#cpu {
    color: #6c71c4;
    padding: 0 8px;
    border-radius: 2px 0px 0px 2px;
}
#memory {
    color: #2aa198;
    padding: 0 8px;
}
#disk {
    color: #b58900;
    padding: 0 8px;
}
#battery {
    padding: 0 8px;
}

#network {
    padding-right: 15px;
    padding-left: 9px;
    border-radius: 0px 2px 2px 0px;
}

#wireplumber {
    margin-left: 3px;
    padding: 0 9px;
}

#mpd {
    border-radius: 4px 4px 4px 4px;
    padding-right: 9px;
    padding-left: 9px;
}

#mpd,
#cpu,
#memory,
#disk,
#network {
    background: rgba(42, 43, 59, 0.5);
}

#clock.1,
#clock.2,
#clock.3{
    padding: 0 6px;
    background: rgba(42, 43, 59, 0.5);
}

#clock.1 {
    border-radius: 2px 0px 0px 2px;
}
#clock.3 {
    border-radius: 0px 2px 2px 0px;
}
